*/

!Campus
!Campus/**

!1_structured_output
!1_structured_output/**

!requirements.txt
!Dockerfile
!compose.yaml

!2_chains
!2_chains/**

!3_document_loaders
!3_document_loaders/**

Campus.code-workspace


*.env
*.swp


